<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["_content/LlamaShears.Api.Web/site.css"]" />
    <link rel="stylesheet" href="@Assets["_content/LlamaShears.Api.Web/highlight-github-dark.min.css"]" />
    <link rel="stylesheet" href="@Assets["LlamaShears.Api.Host.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="@Assets["_content/LlamaShears.Api.Web/composer.js"]"></script>
    <script src="@Assets["_content/LlamaShears.Api.Web/composer-paste.js"]"></script>
    <script src="@Assets["_content/LlamaShears.Api.Web/messages.js"]"></script>
    <script src="@Assets["_content/LlamaShears.Api.Web/highlight.min.js"]"></script>
    <script src="@Assets["_content/LlamaShears.Api.Web/highlight-init.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>
</html>
